<div nz-row>
  <div nz-col [nzLg]="{span: 6}" nzSpan="0"></div>
  <div nz-col [nzLg]="{span: 12}" nzSpan="24">
    <form nz-form [nzLayout]="'vertical'" [formGroup]="categoryForm">
      <nz-form-item>
        <nz-form-label nzRequired>Category Name</nz-form-label>
        <nz-form-control nzErrorTip="Please input the name for this Category!">
          <nz-input-group nzPrefixIcon="info">
            <input formControlName="name" nz-input placeholder="Name"/>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label>Category Notes</nz-form-label>
        <nz-form-control>
          <nz-input-group nzPrefixIcon="comment">
            <input formControlName="notes" nz-input placeholder="Notes"/>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control>
          <button type="button" nz-button nzType="primary" (click)="submitForm()" [disabled]="!categoryForm.valid"
                  style="float: right">
            Submit
          </button>
        </nz-form-control>
      </nz-form-item>
    </form>
  </div>
</div>
